$headerBgColor:  rgba(0, 0, 0, 0.03);
$headerLinkColor: #696f77;
$headerHoverLinkColor: darken($headerLinkColor, 5%);
$headerClickLinkColor: darken($headerLinkColor, 15%);
$activeLinkColor: #1968d2;
$boxShadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$formButtonColor: #45b345;
$formButtonHoverColor: darken($formButtonColor, 5%);
$formButtonClickColor: darken($formButtonColor, 15%);
