@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "components/header";
@import "components/sidebar";
@import "components/message-alert";
@import "components/form";
@import "components/table";

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1366px;
    margin: auto;
    min-height: 100%;
    min-height: -webkit-fill-available;
}

.canvas {
    width: 80%;
}

.canvas-header {
    display: flex;
    flex-flow: row;
    font-size: 1.2rem;
    min-height: 65px;
    background-color: #638fa9;
    width: 100%;
    height: 65px;
    align-items: center;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
}

.active {
    font-weight: bold;
    color: $activeLinkColor;
}

.welcome-header {
    width: 100%;
    text-align: center;
    margin-top: 35px;
    color: #909090;
}

.el-hide {
    display: none;
}

.table-link {
    decoration: none;
    color: #38393c;

    &:hover {
        cursor: pointer;
        color: darken(#38393c, 15%);
    }

    &:click {
        cursor: pointer;
        color: lighten(#38393c, 15%);
    }
}

.space-between {
    justify-content: space-between;
}


.card {
    margin: 15px 10px 15px 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    padding: 25px;
    border-top: 1px solid #e5e4e4;

    >a {
        text-decoration: none;
    }
}
