.form-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 50px 0;
}

.form-default {
    width: 90%;
    align-self: center;

    &__item-wrapper {
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
            align-items: baseline;

        &__label {
            width: 30%;
            color: $headerLinkColor;
            font-weight: bold;
        }

        &__input {
            width: 65%;
            border: 1px solid #ccc9c9;
            border-radius: 6px;
            padding: 6px;
            color: #3e3a3a;
        }

        &__button {
            width: 80%;
            border: none;
            height: 40px;
            color: #FFF;
            background-color: $formButtonColor;
            font-weight: bold;
            border-radius: 6px;

            &:hover {
                background-color: $formButtonHoverColor;
            }

            &:click {
                background-color: $formButtonClickColor;
            }
        }
    }
}
