.header {
    display: flex;
    flex-flow: row;
    padding: 0 45px;
    align-items: center;
    background-color: $headerBgColor;
    height: 55px;
    justify-content: space-between;
    box-shadow: $boxShadow;

    a {
        color: $headerLinkColor;

        &:hover {
            color: $headerHoverLinkColor;
        }

        &:click {
            color: $headerClickLinkColor;
        }
    }
}
