.message-alert {
    display:flex;
    flex-wrap: wrap;
    margin: 35px;
    min-width: 62%;
    min-height: 50px;
    background-color: #d87575;
    border-radius: 6px;
    padding: 5px 15px 15px;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    box-shadow: $boxShadow;

    &__action {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        &--close {
            background-color: transparent;
            border: none;
            display: flex;
            color: #FFF;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                color: darken(#FFF, 20%);
            }

            &:click {
                cursor: pointer;
                color: darken(#FFF, 40%);
            }
        }
    }

    &__message {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}
