.sidebar {
    display: flex;
    flex-flow: column;
    padding: 25px;
    background-color: $headerBgColor;
    width: 20%;
    margin: 0;

    &__link {
        color: $headerLinkColor;
        padding: 10px 0;

        &:hover {
            color: $headerHoverLinkColor;
        }

        &:click {
            color: $headerClickLinkColor;
        }
    }
}
