.table-default {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    thead {
        tr {
            color: #38393c;
            background-color: #a7bcbc;
            font-size: 0.8rem;
            text-align: left;

            th {
                padding: 15px;
            }
        }
    }

    tbody {
        tr {
            text-align: center;
            background: #c4d6d6;
            color: #38393c;
            &:nth-child(odd) {
                background: transparent;
            }

            td {
                padding-bottom: 5px;
                padding-top: 5px;
                padding-left: 5px;
                text-align: left;
            }
            &.empty {
                td {
                    text-align: center;
                    padding: 15px;
                    background-color: #e5bd63;
                    border-radius: 6px;
                    opacity: 0.8;
                }
            }
        }
    }
}
